@import url("https://fonts.googleapis.om/ss?family=Montserrat:400,800");

/* *{
    box-sizing:border-box
}

body{
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    background:#f6f5f7;
    font-family: 'monserrat',sans-serif;
    min-height:100%;
    margin:10%;
} */

.sign {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign .container {
    margin-top: 12vh;
  position: relative;
  width: 768px;
  max-width: 100%;
  /* min-height: 480px; */
  max-height: 450px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.sign .signup,
.sign .signin {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign .signup {
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sign .signin {
  width: 50%;
  z-index: 2;
}

.sign form {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  height: 100%;
  text-align: center;
}

.sign .overlay-container,
.sign form h1 {
  font-weight: bold;
  margin: 0;
  font-size: 1.3em;
}

.sign form h1{
    color: black;
}

.sign .overlay-container{
    color: #fff;
}

.sign p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}

.sign input {
  background: #eee;
  padding: 12px 15px;
  margin: 8px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

.sign a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.sign button {
  color: #fff;
  background: #01959a;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #01959a;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in-out;
  cursor: pointer;
}

.sign button.active {
  transform: scale(0.9);
}

.sign #signIn,
.sign #signUp {
  background-color: transparent;
  border: 2px solid #fff;
}

.sign .container.right-panel-active .signin {
  transform: translateX(100%);
}

.sign .container.right-panel-active .signup {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.sign .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 15;
}

.sign .container.right-panel-active .overlay-container {
  transform: translate(-100%);
}

.sign .overlay {
  position: relative;
  color: #fff;
  background: #ff416c;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #01959a, #065a5a);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.sign .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.sign .overlay-left,
.overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.sign .overlay-left {
  transform: translateX(-20%);
}

.sign .overlay-right {
  right: 0;
  transform: translateX(0);
}

.sign .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.sign .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.sign .social-container {
  margin: 20px 0;
}

.sign .social-container a {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

@media screen and (max-width:600px) {
    .sign form{
        padding:10px
    }
    .sign input{
        margin:5px 10px;
        padding: 7px;
        box-shadow: 1px 1px 2px #01959a;
    }
    .sign button{
        margin:10px;
        padding: 10px;
        width: 100%;
    }

    .sign .overlay-right,
    .sign .overlay-left{
        padding: 0px 20px;
    }
}